{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 banner">
    <div class="name">
    <h2 class="text-center name">Welcome to Salb Gallery </h2>
    <div id="launcher">
      <a href="{% url 'allPhotos' %}" class="button">Photos <span>&#8594;</span></a>
    </div>
  </div>
  </div>
  <div class="col-md-1"></div>

</div>
<div class="row" id="email">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 2cm;">
  </div>
  <div class="col-md-2"></div>


</div>
{% endblock content %}