{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="name">
    <h2 class="text-center">Welcome to Salb Gallery </h2>
    <div class="text-center">
      <a href="{% url 'allPhotos' %}" >
        <button class="btn btn-lg btn-info">View All Photos</button>
      </a>
    </div>
  </div>
  </div>
  <div class="col-md-2"></div>

</div>
<div class="row" id="email">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 2cm;">
  </div>
  <div class="col-md-2"></div>


</div>
{% endblock content %}